# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CamPuzzle.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Dev\personal\CamPuzzle\.idea\.idea.CamPuzzle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
